/* Booking.css */
@keyframes glow {
    0% { text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; }
    50% { text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff; }
    100% { text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; }
  }
  
  .hover\:animate-glow:hover {
    animation: glow 1.5s ease-in-out infinite;
  }
.glow-on-hover {
  position: relative;
  color: white;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.glow-on-hover:hover {
  color: #fbbf24; /* Glow color */
  text-shadow: 0 0 20px #fbbf24, 0 0 30px #fbbf24, 0 0 40px #fbbf24, 0 0 50px #fbbf24;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
